@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');
*{
  padding: 0;
  margin: 0;
  border:0;
/* Avoids increasing width and height, when adding padding or borders */
  box-sizing: border-box;
}

body{
  font-family: 'IBM Plex Sans', sans-serif;
}
#desktop{
  /* position: relative; */
  width: 100%;
  min-height: 100vh;
  background-color: rgb(193,193,193);
  position: relative;
}

/* DeKSTOPPP */
#exercises{
  top: 10%;
  left: 25%;
}

#finalProj{
  top: 35%;
  left: 35%;
}

#aboutAsa{
  top: 10%;
  left: 10%;
}

#trashCan{
  bottom: 0%;
  right: 0%;
}

#sword{
  bottom: 25%;
  right: 25%;
}

#bell{
  bottom:0%;
  left:60%;
}

#dos{
  top:70%;
  left:10%;
}

/* EXERCISES_FOLDER */

#exercise1{
  top: 30%;
  left: 10%;
}
#helloWorld{
  top: 10%;
  left: 10%;
}

#exercise2{
  top: 70%;
  left: 40%;
}
#websiteReviews{
  top: 10%;
  left: 10%;
}

#exercise3{
  top: 20%;
  left: 60%;
}
#positioning{
    top: 10%;
    left: 10%;
  }

#exercise4{
  top: 60%;
  left: 20%;
}
#flex_1{
  top: 10%;
  left: 10%;
}

#exercise5{
  top: 50%;
  left: 50%;
}
#flex_2{
  top: 10%;
  left: 10%;
}




#folder{
  width: 100%;
  min-height: 100vh;
  background-color: rgb(255,255,255);
  position: relative;
  border: solid 5px rgb(193,193,193);
}

#folder nav{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(13,30,172);
  height: 30px;
}


#notepad{
  width: 100%;
  min-height: 100vh;
  position: relative;
}

#notepad nav{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(13,30,172);
  height: 30px;
}

#notepad article{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#notepad h1{
  font-size: 32px;
  margin-top: 20px;
}

 #notepad article p{
  width: 60%;
  font-size: 24px;
  padding:20px;
}


.icon{
  width: 7%;
  min-width: 150px;
  height: auto;
  padding: 20px;
  position: absolute;
}

.closeIcon{
  position: absolute;
  left: 3px;
  top: 3px;
  width: 20px;
  height: 20px
}
.navIcons{
  width: 20px;
  height: 20px;
}

.navTitles{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(255,255,255);
  justify-content: center;
}
