* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

section{
    position:relative;
}

#s1 {
    width:100%;
    height: 100vh;
    background: url(../images/face.jpg) no-repeat fixed center center;
    background-size: cover;
}

article{
      font-size: 20px;
}

#s1 article {
    color: crimson;
    width:30%;
    background:none;
    padding: 20px;
    position:absolute;
    bottom:40px;
    left:40px;
}

#s2 {
  width:100%;
  height: 50vh;
    background: url(../images/mouth.png) no-repeat fixed center center;
    background-size: cover;
}

#s2 article {
    color: cadetblue;
    width:30%;
    background:none;
    padding: 20px;
    position:absolute;
    top:40px;
    right:40px;
}

#s3 {
  width:100%;
  height: 100vh;
    background: url(../images/chin.jpg) no-repeat fixed center center;
    background-size: cover;
}

#s3 article {
    color: turquoise;
    width:30%;
    background:none;
    padding: 20px;
    position:absolute;
    bottom:40px;
    right:40px;
}
